<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ICE-app-path" value="C:\Program Files\Microsoft Research\Image Composite Editor\ICE.exe" />
    <add key="Export-btn-label" value="EXPORT" />
    <add key="ExportToDisk-btn-label" value="Export to disk..." />
    <add key="ExportPanorama-btn-label" value="Export Panorama" />
    <add key="Save-btn-label" value="Save" />
    <add key="Save-project-label" value="Save" />
    <add key="Save-wait" value="5000" />
  </appSettings>
</configuration>